<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Chat</title>
    <link rel="shortcut icon" href="https://cdn.dribbble.com/users/6409791/screenshots/16069228/media/d1748e8da94de43d92219eaee258edee.jpg?compress=1&resize=400x300" />

    <link th:href="@{/css/loginPage.css}" rel="stylesheet" media="screen" type="text/css"/>
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js}"></script>
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form name='f' th:action="@{/j_spring_security_check}" method='POST'>
            <h1>Sign In</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social"><i class="fa fa-github"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>or use your email password</span>
            <input type='text' name='username' value='' placeholder="Username">
            <input type='password' name='password' placeholder="Password"/>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <span>Save your account: </span>
                <input style="width: 20px" type="checkbox" name="remember-me"/>
            </div>

            <input class="submit" name="submit" type="submit" value="SIGN IN"/>
        </form>
    </div>


    <div class="form-container sign-up-container">
        <form th:action="@{/sign-up}" method='POST'>
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social"><i class="fa fa-github"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input id="user-account" type="text" name="user-account" placeholder="Username"/>
            <input id="password" type="password" name="password" placeholder="Password"/>
            <input id="re-password" type="password" name="re-password" placeholder="Retype Password"/>
            <input class="submit" name="submit" type="submit" value="Đăng ký" onclick="return validate()"/>
        </form>
    </div>


    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all site features</p>
                <button class="ghost" id="signIn">SIGN IN</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all site features</p>
                <button class="ghost" id="signUp">SIGN UP</button>
            </div>
        </div>
    </div>
</div>

<th:block th:if="${message}">
    <h4 id="message" th:text="${message}"></h4>
</th:block>

</body>
<script th:src="@{/js/loginPage.js}"></script>

<script>

</script>
</html>